#prosub{
    color: rgb(65, 64, 101);
    text-align: center;
}

#promain{
    text-align: center;
    color: rgb(65, 64, 101);
}

#sort1{
    margin-right: 5px;
}

#cat1{
    color: #232c2d;
    background-color: rgb(208, 232, 232);    margin-right: 5px;
    
}

#cat2{
    color: #232c2d;
    background-color: rgb(208, 232, 232);    margin-right: 5px;
}

#cat3{
    color: #232c2d;
    background-color: rgb(208, 232, 232);
    margin-right: 5px;
}

#cat4{
    color: #232c2d;
    background-color: rgb(208, 232, 232);    margin-right: 5px;
}

#cat5{
    color: #232c2d;
    background-color: rgb(208, 232, 232);}


body{
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.con{
    color: rgb(65, 64, 101);
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 40px;
}

.home{
    color: rgb(65, 64, 101);
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 40px;
}

.about{
    color: rgb(65, 64, 101);
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 40px;
}